:root {
    --ion-app-home-titlebar-size:           30px;
    --ion-app-home-button-size:             45px;
    --ion-app-home-title-size:              15px;
    --ion-app-transition-duration:          0.1s;
    --ion-app-font:                         Segoe UI Light;
    --ion-app-home-title-color:             #fff;
    --ion-app-home-hover-color:             rgba(255,255,255,0.2);
    --ion-app-home-margin:                  10px;
    --ion-app-titlebar-color:               rgb(0,0,0);
    --ion-app-titlebar-text-color:          rgb(255,255,255);
    --ion-app-main-color:                   rgb(0,0,0);
    --ion-app-extra-color:                  rgb(0,0,0);
    --ion-app-dark-color:                   rgb(0,0,0);
    --ion-app-text-color:                   rgb(0,0,0);
    --ion-app-shadow-size:                  5px;
    --ion-app-shadow-color:                 rgb(0,0,0);

    --ion-app-panel-border-color:           rgb(255,255,255);   /* darker-color */
    --ion-app-panel-border-size:            1px;
    --ion-app-dragger-size:                 14px;

    --ion-app-menu-option-height:           22px;
    --ion-app-menu-background-color:        #000;
    --ion-app-menu-option-text-color:       #fff;
    --ion-app-menu-option-hover-color:      rgba(255,255,255,0.2);
    --ion-app-menu-option-pad:              5px;
    --ion-app-menu-option-text-size:        16px;

    --ion-app-padding:                      5px;
    --ion-app-scrollbar-size:               10px;
    --ion-app-corner-radius:                0px;

    --ion-app-slider-size:                  10px;
    --ion-app-slider-width:                 125px;
    --ion-app-slider-thumb-size:            16px;
    --ion-app-checkmark-size:               3px;
}

::-webkit-scrollbar {
    width: var(--ion-app-scrollbar-size);
    height: var(--ion-app-scrollbar-size);
}

::-webkit-scrollbar-track {
    background: var(--ion-app-panel-border-color);
}

::-webkit-scrollbar-thumb {
    background: var(--ion-app-dark-color);
    transition-duration: var(--gui-transition-time);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--ion-app-extra-color);
    cursor: pointer;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--ion-app-main-color);
    overflow: hidden;
    font-family: var(--ion-app-font);
    color: var(--ion-app-text-color);
}

button:focus {
    outline: none;
}

/*          titlebar           */

app-titlebar {
    background-color: var(--ion-app-titlebar-color);
    background-image: var(--ion-app-titlebar-color);
    width: 100%;
    height: var(--ion-app-home-titlebar-size);
    top: 0px;
    left: 0px;
    z-index: 20;
    display: flex;
    -webkit-user-select: none;
    -webkit-app-region: drag;
    box-shadow: 0px 0px var(--ion-app-shadow-size) var(--ion-app-shadow-color);
}

.app-home-button {
    background-color: rgba(0,0,0,0);
    color: var(--ion-app-home-title-color);
    margin-top: 0px;
    text-align: center;
    font-size: var(--ion-app-home-title-size);
    font-family: var(--ion-app-font);
    width: var(--ion-app-home-button-size);
    height: var(--ion-app-home-titlebar-size);
    border: none;
    -webkit-app-region: no-drag;
    transition-duration: var(--ion-app-transition-duration);
    margin-left: 0px;
    margin-right: auto;
    justify-content: flex-start;
}

.app-home-button.close {
    margin-right: 0px;
}

.app-home-button.fs {
    margin-right: 0px;
}

.app-home-button.mz {
    margin-right: 0px;
}

.app-home-button.hm {
    margin-left: 0px;
}

.app-home-disabled {
    color: var(--ion-app-dark-color);
}

.app-home-button:not(.app-home-disabled):hover {
    background-color: var(--ion-app-home-hover-color);
}

.app-home-button:focus {
    outline: none;
}

.app-home-button.close:hover {
    background-color: rgb(255,0,0);
}

.app-home-title {
    margin-top: calc( var(--ion-app-home-margin) / 2 );
    margin-left: var(--ion-app-home-margin);
    width: 100%;
    margin-right: auto;
    align-self: flex-start;
    font-size: var(--ion-app-home-title-size);
    font-family: var(--ion-app-font);
    color: var(--ion-app-home-title-color);
    white-space: nowrap;
    overflow: hidden;
}

/*          panels           */

app-main {
    position: absolute;
    top: var(--ion-app-home-titlebar-size);
    height: calc( 100% - var(--ion-app-home-titlebar-size) );
    width: 100%;
    display: flex;
    align-items: stretch;
    flex-grow: 1;
    flex-shrink: 0;
    z-index: 0;
}

app-group {
    display: flex;
    align-items: stretch;
    flex-grow: 1;
    flex-shrink: 0;
    z-index: 0;
}

.app-group left-right {
    flex-direction: row;
}

.app-group top-down {
    flex-direction: column;
}

app-panel {
    flex-grow: 1;
    flex-shrink: 0;
    box-sizing: border-box;
    border: var(--ion-app-panel-border-size) solid var(--ion-app-panel-border-color);
    z-index: 0;
    white-space: normal;
}

app-dragger {
    background-color: rgb(255,0,0);
    display: inherit;
    opacity: 0;
    z-index: 20;
    margin: calc( 0px - calc(var(--ion-app-dragger-size) / 2 ) );
}

.app-dragger.left-right {
    width: var(--ion-app-dragger-size);
}

.app-dragger.left-right:hover {
    cursor: ew-resize;
}

.app-dragger.top-down {
    height: var(--ion-app-dragger-size);
}

.app-dragger.top-down:hover {
    cursor: ns-resize;
}