:root {
    --text-color:                   #fff;
    --font:                         Segoe UI Light;
    --main-color:                   #000;
    --extra-color:                  #f0a;
    --shadow-color:                 rgba(255,255,255,0.2);
    --dark-color:                   #624;
    --darker-color:                 #222;
    --titlebar-color:               linear-gradient(to right, #624, #653);
    --margin:                       10px;
    --preview-panel-width:          150px;
    --preview-panel-height:         200px;
}

.animation_preview {
    background-color: var(--darker-color);
    margin-left: calc( 10% + var(--margin) );
    margin-top: var(--margin);
    width: 60%;
    position: absolute;
    max-width: calc( 80% - var(--preview-panel-width) - var(--margin) * 2 );
}

.canvas-block {
    display: flex;
    margin-left: 0px;
    margin-top: 0px;
    height: var(--preview-panel-height);
}