:root {
    --scale:            1;

    --c-lightest:       #fff;
    --c-light:          #ddd;
    --c-mid:            #bbb;
    --c-dark:           #666;
    --c-darkest:        #000;
    --c-no:             #f44;
    --c-no-light:       #faa;
    --c-yes:            #9f4;
    --c-yes-light:      #afa;
    --c-shadow:         rgba(0,0,0,0.5);
    --c-titlebar:       #e4e8f4;
    --c-hover:          rgba(0,0,0,0.1);

    --h-prev:           400px;

    --w-slider:         calc(100px * var(--scale));

    --s-button:         calc(30px * var(--scale));
    --s-click:          calc(2px * var(--scale));
    --s-shadow:         calc(6px * var(--scale));
    --s-menu:           calc(30px * var(--scale));
    --s-titlebar:       calc(28px * var(--scale));
    --s-drag:           12px;

    --pad:              calc(20px * var(--scale));
    --pad-small:        calc(8px * var(--scale));
    --font:             Segoe UI Light;
    --font-bold:        Segoe UI;
    --trans:            0.1s;
    --corner:           3px;
    --corner-big:       8px;

    --c-p-edit:         #49f;
    --c-p-select:       #9f4;
    --c-p-select:       #9f4;
    --c-p-background:   #000;
    --c-p-default:      #fff;
    --c-p-black:        #000;
}

body {
    overflow: hidden;
    margin: 0px;
    padding: 0px;
    font-family: var(--font);
    background-color: var(--c-lightest);
}



button {
    height: var(--s-button);
    border: none;
    background-color: var(--c-light);
    transition-duration: var(--trans);
    padding-left: var(--pad-small);
    padding-right: var(--pad-small);
    padding-top: 0px;
    padding-bottom: 0px;
    font-family: var(--font-bold);
    color: var(--c-darkest);
    font-size: calc( var(--s-button) / 2 );
    border: 0px solid var(--c-lightest);
    box-sizing: border-box;
    border-radius: var(--corner);
}

button:hover {
    background-color: var(--c-mid);
}

button:focus {
    outline: none;
}

button:active {
    border: var(--s-click) solid var(--c-lightest);
    border-radius: calc( var(--corner) * 2);
    padding-left: calc(var(--pad-small) - var(--s-click));
    padding-right: calc(var(--pad-small) - var(--s-click));
    font-size: calc( var(--s-button) / 2 - var(--s-click) );
}



.toggle {
    background-color: var(--c-no);
    color: var(--c-lightest);
}

.toggle:hover {
    background-color: var(--c-no-light);
}

.toggle.toggled {
    background-color: var(--c-yes);
    color: var(--c-darkest);
}

.toggle.toggled:hover {
    background-color: var(--c-yes-light);
}



.slider {
    -webkit-appearance: none;
    width: var(--w-slider);
    height: calc( var(--s-button) / 4 );
    background: var(--c-mid);
    outline: none;
    opacity: 1;
    transition: var(--trans);
}

.slider:hover > .slider::-webkit-slider-thumb{
    background: var(--c-dark);
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: calc( var(--s-button) / 1.5 );
    height: calc( var(--s-button) / 1.5 );
    background: var(--c-light);
    cursor: pointer;
    border-radius: 100%;
}

.input_val {
    font-size: calc( var(--s-button) / 2 );
    margin-left: calc( var(--pad-small) / 2 );
}



.panel.tools {
    padding: var(--pad-small);
}

.panel.preview {
    width: 100%;
    background-color: var(--c-light);
    padding-top: var(--pad);
    padding-bottom: var(--pad);
    height: calc( 100% - var(--h-prev) - var(--s-titlebar));
}

.panel.timeline {
    padding: var(--pad-small);
}

.animation_preview {
    background-color: var(--c-p-background);
    height: calc( 100% - var(--h-prev) - var(--s-titlebar));
    max-width: calc( 100% - var(--pad) * 2 );
    margin-left: 50%;
    transform: translate(-50%, 0%);
    position: absolute;
}



.timeline_container {
    overflow: scroll;
    position: absolute;
    height: calc( var(--h-prev) - ( var(--pad) * 8 ) );
    width: calc( 100% - ( var(--pad) * 2 ) );
    margin-top: var(--pad);
    margin-left: var(--pad);
    background-color: var(--c-light);
}

.a_timeline {
    background-color: var(--c-dark);
    color: var(--c-lightest);
}

.keyframe:active {
    border: none;
    font-size: calc( var(--s-button) / 2 );
    padding-left: var(--pad-small);
    padding-right: var(--pad-small);
}



app-head {
    width: 100%;
    height: var(--s-titlebar);
    background-color: var(--c-titlebar);
    display: flex;
    -webkit-app-region: drag;
    font-size: calc( var(--s-titlebar) / 1.9 );
    z-index: 25;
    color: var(--c-darkest);
    position: relative;
}

.app-head-shadow {
    position: absolute;
    z-index: 15;
    width: 100%;
    height: var(--s-titlebar);
    top: 0px;
    left: 0px;
    background-color: var(--c-shadow);
    box-shadow: 0px 0px var(--s-shadow) var(--c-shadow);
}

.app-home-button {
    background-color: rgba(0,0,0,0);
    color: inherit;
    margin-top: 0px;
    text-align: center;
    font-family: var(--font);
    font-size: inherit;
    width: var(--s-titlebar);
    height: var(--s-titlebar);
    border: none;
    -webkit-app-region: no-drag;
    transition-duration: var(--trans);
    margin-left: 0px;
    margin-right: auto;
    justify-content: flex-start;
    padding-left: calc( var(--s-titlebar) / 6 );
    padding-right: calc( var(--s-titlebar) / 6 );
}

.app-home-button.close {
    margin-right: 0px;
}

.app-home-button.fs {
    margin-right: 0px;
}

.app-home-button.mz {
    margin-right: 0px;
}

.app-home-disabled {
    color: var(--c-dark);
}

.app-home-button:not(.app-home-disabled):hover {
    background-color: var(--c-hover);
}

.app-home-button:focus {
    outline: none;
}

.app-home-button.menu {
    width: initial;
    color: inherit;
    margin-left: 0px;
    margin-right: auto;
    align-self: flex-start;
}

.app-home-button.close:hover {
    background-color: var(--c-no);
}

.app-home-button:active {
    border: none;
    font-size: inherit;
    padding-left: calc( var(--s-titlebar) / 6 );
    padding-right: calc( var(--s-titlebar) / 6 );
}

.app-home-buffer {
    width: 100%;
}

.app-home-title {
    margin-top: calc( var(--s-titlebar) / 6 );
    margin-left: calc( var(--s-titlebar) / 4 );
    margin-right: auto;
    width: calc( var(--s-titlebar) * 3 );
    align-self: flex-start;
    font-size: inherit;
    font-family: var(--font);
    color: inherit;
    white-space: nowrap;
    overflow: hidden;
    user-select: none;
}

.app-home-logo {
    margin-top: calc( var(--s-titlebar) / 8 );
    margin-left: calc( var(--s-titlebar) / 8 );
    margin-right: auto;
    width: calc( var(--s-titlebar) / (4/3) );
    align-self: flex-start;
    white-space: nowrap;
    user-select: none;
}

app-main {
    width: 100%;
    height: 100%;
    position: absolute;
}

.app-contextmenu {
    background-color: var(--c-lightest);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: absolute;
    box-shadow: 0px 0px var(--s-shadow) var(--c-shadow);
    padding: var(--pad-small);
    border-radius: var(--corner-big);
    z-index: 20;
    color: var(--c-darkest);
}

.app-contextmenu.top {
    border-radius: 0px 0px var(--corner-big) var(--corner-big);
}

.app-contextmenu.ismenu {
    background-color: var(--c-titlebar);
}

.app-contextmenu-option {
    background-color: rgba(0,0,0,0);
    border: none;
    color: inherit;
    font-family: var(--font);
    font-size: calc( var(--s-menu) / 2 );
    display: flex;
    height: var(--s-menu);
    padding-left: var(--pad-small);
    padding-right: var(--pad-small);
    transition-duration: var(--trans);
}

.app-contextmenu-separator {
    background-color: var(--c-hover);
    display: flex;
    height: 1px;
    width: calc( 100% - var(--pad-small) );
    margin-top: 4px;
    padding-left: var(--pad-small);
    transition-duration: var(--trans);
}

.app-contextmenu-arrow {
    opacity: 0.2;
    display: flex;
    height: 0px;
    margin-left: auto;
    margin-right: 0px;
    font-family: var(--font);
    font-size: calc( var(--s-menu) / 1.4 );
    color: inherit;
    user-select: none;
    pointer-events: none;
}

.app-contextmenu-shortcut {
    opacity: 0.6;
    display: flex;
    height: 0px;
    margin-left: auto;
    margin-right: calc( var(--s-menu) / 6 );
    font-family: var(--font);
    font-size: calc( var(--s-menu) / 2.5 );
    color: inherit;
    user-select: none;
    pointer-events: none;
    transform: translate(0px, calc( var(--s-menu) / 4 ) );
}

.app-contextmenu-option:hover {
    background-color: var(--c-hover);
}

.app-contextmenu-option:active {
    border: none;
    padding-left: calc( var(--pad-small) * 1.31 );
    padding-right: calc( var(--pad-small) * 1.31 );
}

app-tooltip {
    background-color: var(--c-lightest);
    color: var(--c-darkest);
    font-size: calc( var(--s-menu) / 2 );
    position: absolute;
    padding: var(--pad-small);
    box-shadow: 0px 0px var(--s-shadow) var(--c-shadow);
    font-family: var(--font);
    user-select: none;
    z-index: 30;
    border-radius: var(--corner-big);
}

app-dragger {
    background-color: rgb(255,0,0);
    display: inherit;
    opacity: 0;
    z-index: 20;
    margin: calc( 0px - calc(var(--s-drag) / 2 ) );
}

.app-dragger.left-right {
    width: var(--s-drag);
}

.app-dragger.left-right:hover {
    cursor: ew-resize;
}

.app-dragger.top-down {
    height: var(--s-drag);
}

.app-dragger.top-down:hover {
    cursor: ns-resize;
}



.corner-resize {
    position: absolute;
    z-index: 15;
    border: calc( var(--pad) / 2 ) solid rgba(0,0,0,0);
    border-left: calc( var(--pad) / 2 ) solid var(--c-mid);
    top: calc(100% - (var(--pad) / 1.5));
    left: calc(100% - (var(--pad) / 1.5));
    width: 0;
    height: 0;
    transform: rotate(45deg);
}